<div id="<%= dom_id booking %>">
  <p>
    <strong>Check In:</strong>
    <%= booking.check_in %>
  </p>

  <p>
    <strong>Check Out:</strong>
    <%= booking.check_out %>
  </p>

  <p>
    <strong>Guest(s) Name(s):</strong>
    <%= booking.guest_name %>
  </p>

</div>
