<div id="new_booking" class="pages_index_background">
  <div id="<%= dom_id booking %>">
    <p>
      <strong>Check In:</strong>
      <%= booking.check_in %>
    </p>

    <p>
      <strong>Check Out:</strong>
      <%= booking.check_out %>
    </p>
  </div>
</div>