<h1 id="editing_booking" class="display-4 text-center my-3 text-muted">Editing Booking</h1>

<%= render "form", booking: @booking %>

<br>

<div>
  <%= link_to "Show this booking", @booking, class: "btn btn-outline-primary" %> |
  <%= link_to "Back to bookings", bookings_path, class: "btn btn-outline-primary" %>
</div>
