<div id="new_booking" class="pages_index_background">
  <h1 class="display-4 text-center text-muted">New Booking</h1>

  <div class="container">
    <!-- to render booked room pass also room instance -->
    <%= render "form", booking: @booking, room: @room %>

    <br>

    <div>
      <%= link_to "Back to bookings", bookings_path, class: "btn btn-outline-primary mb-4" %>
    </div>
  </div>
</div>