<div id="pages_index" class="pages_index_background">
  <div class="container">
    <h1 id="list_users" class="display-4 text-center text-muted">R4R Index Pages</h1>

    <% if current_user %>
      <h1>Welcome, <%= current_user.email %>!</h1>
      <div class="d-flex justify-content-center">
        <%= link_to 'Log out', user_session_path(current_user), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %><br>
      </div>

    <% else %>
    
      <h1>If you have an account login, please!</h1>

      <div class="d-flex justify-content-center">
        <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-success mt-4" %><br>
      </div>

    <% end %>

    <div class="d-flex justify-content-center">
      <%= link_to 'Secret page', '/pages/secret', class: "btn btn-outline-primary m-4" %>
    </div>
  </div>
</div>