<h1 id="new_room_title" class="display-4 text-center my-5 text-muted">New Room</h1>

<%= render "form", room: @room %>

<br>

<div id="new_room">
  <%= link_to "Back to rooms", rooms_path, class: "btn btn-outline-success" %>
</div>
