/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: 'Canterbury';
  src: url('Canterbury.ttf');
}

.banner-background-image {
  color: white;
  background-image: url("Dubai-wallpaper-cr.jpg");
  background-size: cover;
  font-family: 'Canterbury';
} 

.banner-background-buttons {
  background-size: cover;
  font-family: 'inherit';
}

.card-background {
  background-color: #b7e1e7;
}

.navbar-background {
  background-color: #33b5c9;
}

.card-background-bbb {
  background-color:  #a4badb;
}

.bedroom-1 {
  background-image: url("Screenshot_2023-12-13_202053.png");
}

.card-border {
  border: gray;
  border-radius: 5px;
}

.form-input {
  display: inline-flex;
  margin-inline:10px
}

input::placeholder {
  color: gray;
  font-style: italic;
}

.footer {
  background-color: gray;
  height: 80px;
}

.no-underline {
  text-decoration: none;
}

.message-form {
  /*padding: 0px;*/
  margin-left: 0px;
  margin-right: 0px;
}

.pages_index_background {
  background-color: rgb(127, 229, 255);
}